body {
	background: whitesmoke;
}

.screen {
	padding-top: 70px;
}


/* Navbar buttons */

.collapse.navbar-collapse > .btn-group:first-of-type {
	margin-left: 0;
}

.collapse.navbar-collapse > .btn-group {
	margin-left: 10px;
}


/* Path indicator */

#Home > .breadcrumb {
	margin-top: -20px;
	margin-bottom: 0;
}

@media (min-width: 768px) {
	#Home > .breadcrumb {
		margin-top: -10px;
	}
}


/* Grid */

.grid {
	width: 100%;
}

.grid > .box {
	display: inline-block;
	-webkit-box-orient: vertical;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 126px;
	padding: 10px;

	text-align: center;
}

.grid > .box:hover {
	background: rgb(231, 231, 231);
}

#list {
	list-style: none;
	padding: 0;
}

#list > li {
	-webkit-box-orient: vertical;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	height: 50px;
}

#list > li > img {
	float: left;

	margin-right: 5px;
	max-width: 50px !important;
}

#list > li > .name {
	width: auto !important;
	padding-top: 7px;
}


/* Item box */

.box > img {
	max-width: 70px;
}

.box > .name {
	width: 106px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	font-weight: bold;
}

.box > .size {
	font-size: 12px;
	line-height: 16px;
	color: rgb(121, 121, 121);
}


/* Modal */

#preview-body > .media-preview-container {
	text-align: center;
	margin-bottom: 20px;
}

#preview-body > .media-preview-container > .media {
	max-width: 100%;
}

#preview-body > .filename {
	font-weight: bold;
	font-size: 17px;
}

#preview-body > .size {
	line-height: 14px;
	color: rgb(121, 121, 121);
}

#preview-body > .extra-container {
	padding-top: 20px;
}

#preview-body > .extra-container > ul {
	padding: 0;
	margin: 0;

	list-style: none;
}

#preview-body > .extra-container > ul > li {
	margin-bottom: 10px;
}

#preview-body > .extra-container > ul > li:last-of-type {
	margin-bottom: 0;
}

#preview-body > .extra-container .nested {
	list-style: none;
	padding-left: 15px;
}

#preview-body > .extra-container .nested > li > b {
	color: rgb(97, 97, 97);
}
