body {
	background: whitesmoke;
}

.screen {
	padding-top: 70px;
}

.collapse.navbar-collapse > .btn-group:first-of-type {
	margin-left: 0;
}

.collapse.navbar-collapse > .btn-group {
	margin-left: 10px;
}

#Home > .breadcrumb {
	margin-bottom: 0;
}

.grid {
	width: 100%;
}

.grid > .box {
	display: inline-block;
	-webkit-box-orient: vertical;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 126px;
	padding: 10px;

	text-align: center;
}

.grid > .box:hover {
	background: rgb(231, 231, 231);
}

.box > img {
	/*display: -webkit-box;*/
	max-width: 70px;
}

.box > .name {
	width: 106px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	font-weight: bold;
}

.box > .size {
	font-size: 12px;
	line-height: 16px;
	color: rgb(121, 121, 121);
}